{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "import/extensions": "off",
    "linebreak-style": "off",
    "react/no-danger": "off",
    "prettier/prettier": "error"
  },
  "globals": {
    "graphql": true
  }
}
